
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display-titulo {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 700; /* Negrita */
	font-style: normal; /* No itálico */
}
  
.playfair-display-subtitulo {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600; /* Normal */
	font-style: normal; /* Itálico */
}

.playfair-display-parrafo {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 500; /* Negrita */
	font-style: normal; /* No itálico */
  }


*{
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
}

body{
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;/*auto es el header, 1fr es el contenido y auto es el footer*/
	grid-template-areas: 
	"header"
	".contenido"
	"footer";
	margin: 0;/*Parece que esta declaracion es redundante porque ya se aplica en arriba */
	
}

header{
	/*background-color: #B5C18E;*/
	background-color: #A5D16C;
	padding: .5rem 1rem;
	display: inline-flex;
	justify-content:space-between;/*Investigar sobre porque funciono con este*/
	align-items: center; /*Centra verticalmente el header*/
	position: sticky; /* Hacer que el header sea sticky */
	top: 0; /* Pegar en la parte superior */
	z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
	max-height: 70px;
}


header nav{
	/* TODO: REVISAR SI SE PUEDE HACER ALGO CON ESTA ETIQUETA */
}

header nav ul{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 3em;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
}

.icono-encabezado{
	max-width: 30px;
	padding: 0;;
	transition: transform 0.3s ease; /* Efecto de transición en el hover */
}

.icono-encabezado:hover{
	transform: scale(1.2);
}
#btn-reservar{
	background-color: #A30350;
	padding: 0.5rem 2rem;
	padding-bottom: .5rem;
	border-radius: 5px;
	margin-bottom: 6px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2); /* Sombra solo en la parte inferior */
	color: aliceblue;
}
#btn-reservar a{
	color: aliceblue;
}
#btn-reservar:hover{
	background-color: #2f3a0d;
}


.contenido{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(4, minmax(100px, auto));
}	
#logo{
	max-width: 50px;
}

header h1{
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
#img-home{
	grid-column: 1 / -1;
	grid-row: 1;
	background-color: #000000;
}

#img-home img{
	display: block;
	width: 100%;
	height: 555px; /*Se puede cambiar por unidad mas relativa*/ 
	object-fit: cover;
	overflow: hidden;
	opacity: 0.8;
}

#bienvenida-tarjeta{
	padding: 0 2.5rem;
	grid-column: 1 / -1;
	grid-row: 2;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
/*Cambiar a id*/
.articulo{
	display: flexbox;
	flex-direction: column;
	padding-bottom: 6rem;
	width: 85%;
	margin-top: 3rem;
}
.articulo h1{
	margin-bottom: 2rem;
}
.articulo h1 span{
	color: #42AB00;
}

#bienvenida-tarjeta h1{
	font-size: 3.5rem;
}
#bienvenida-tarjeta p{
	text-align: justify;
	font-size: 1.25rem;
	padding-right: 7rem;
}

#bienvenida-tarjeta img{
	width: 235px;
	height: 303px;
	border-radius: 20px 20px 0 20px;
}

#desglose-habitaciones{
	grid-column: 1 / -1;
	grid-row: 3;
	background-color: #EADBC8;
}


#desglose-habitaciones h1{
	font-size: 3.5rem;
	text-align: center;
	margin: .5rem;
}

#carrusel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrusel {
    display: flex;
    gap: 1rem;
    transition: transform 0.4s ease-in-out;
    width: fit-content;
}

.tarjeta-habitacion {
	background-color: #FFFFFF;
	border-radius: 0 0 10px 10px;
	width: 25%;
	text-align: center;
	margin-top: 2rem;
	margin-left: .5rem;
	margin-right: .5rem;
	margin-bottom: .5rem;
	text-decoration: none;
	color: #000;
    flex: 0 0 calc(25% - 2rem); /* Tres elementos visibles */
	border-style: solid;
}
.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}


.descripcion-articulo{
	margin: 0 1.5rem 1.5rem 1.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	gap: 1rem;
	align-items: center;
}

.descripcion-articulo p{
	text-align: left;
}

.descripcion-articulo h3{
	font-size: 1.5rem;
	margin-left: auto;
	color: #176b5d;
	text-decoration: dotted;
}


#desglose-habitaciones img{
	border-radius: 10px;
	margin: 1rem;
	max-width: 300px;
	max-height: 225px;
	width: 100%;
	height: 25rem;/*Si uso porcentaje se cambian en diferentes tamanos*/
}



.tarjeta-habitacion:hover{
	transform: scale(1.1);
	transition: transform 0.4s;
	background-color:#ebd592;
	
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#btnReservar {
	background-color: #A30350;
	padding: 0.5rem 2rem;
	padding-bottom: .5rem;
	border-radius: 5px;
	margin-bottom: 6px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
	color: aliceblue;
    cursor: pointer;
	bottom: 10px;
	width: 100%;
}
#btnCerrarInfo {
    position: absolute; /* Posicionarlo relativo al contenedor padre */
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;
    z-index: 10;
}

#btnCerrarInfo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px; 
    height: 300px;
    margin: auto;
	border-style: solid;
}

.imgHab {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

#imgsection {
    width: 40%;
    height: 100%; 
    padding: 0px;
    text-align: center;
}

#infosection {
	position: relative;
	height: 100%;
    width: 60%;
    background-color: #eadbc8;
    padding: 15px;
    overflow-y: auto; /* Agrega un scroll interno si el contenido es demasiado largo */
    box-sizing: border-box;
	top: 0;
}

#infosection h1 {
	top: 2%;
	text-align: center;
	font-size: 2.3rem;
	margin: .5em;
}

#infosection p {
	font-size: 1.6rem;
	margin: .5em;
}

#infosection h5{
	font-size: 1.3rem;
	margin: .5em;
}
#nosotros-tarjeta{
	grid-column: 1 / -1;
	grid-row: 4;
	background-color: #E5DCDD;
}

#nosotros-tarjeta img{
	width: 50%;
	max-width: 400px;
	height: 600px;/*cambiar a una unidad mas relativa*/
	
}
#articulo-nosotros{
	margin: 4rem 0;
	padding: 0 2.5rem;
	display: inline-flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
}

#descripcion-nosotros{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2rem;
	align-items: center;
	margin: auto;
}

#descripcion-nosotros h2{
	font-size:40px
}
#descripcion-nosotros p{
	text-align: center;
	font-size: 1.25rem;
}

footer{
	height: 100%;
	background-color: #C7B7A3;
}


