@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
}

body{
    /*display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;*/
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#imagen-seccion{
    flex:1;
    background-image: url('/ecologico/src/cliente/recursos/img/iniciosesion/IniciarSesionFoto.jpg');
    background-size: cover;
    background-position: center;
}

#formulario-seccion{
    width: 50%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; /*Considerar padding*/
    background-color: #B5C18E;
}

#formulario-seccion #botones-nav{
    position: absolute; /*Ver si hay otra manera de hacer esto*/
    top: 20px;
    right: 20px;
    display: flex;
}

#formulario-seccion #botones-nav #btn_iniciarSPag{
    background-color: #A30350;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    transition: background-color 0.3s;
    width: 120px; /*ancho definido*/
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}

#formulario-seccion #botones-nav #btn_iniciarSPag:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra en hover */
}

#formulario-seccion #botones-nav #btn_RegistrarsePag{
    background-color: #C7B7A3;
    color: black;
    cursor: pointer;
    border: none;
    border-left: 0;
    padding: 10px;
    transition: background-color 0.3s;
    width: 120px;/*ancho definido?*/
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}

#formulario-seccion #botones-nav #btn_RegistrarsePag:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#formulario-contenedor{
    width: 100%; /* Ocupa el 100% del espacio disponible */
    padding: 10%;
    display: flex;
    flex-direction: column;
}

#formulario-contenedor form {
    /*es necesario esta parte?*/
    display:flex;
    flex-direction: column;
}

#formulario-contenedor input{
    border: none;
    background: transparent;
    border-bottom: 2px solid #1E1E1E;
    font-size: 1.25rem;
    transition: border-color 0.3s;
    padding: 5px 10px;
    outline: none;
}

#formulario-contenedor #btn_inicioS{
    padding: 10px;
    font-size: 16px;
    background-color: #A30350;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    align-self: center;
    width: 170px; /*Ancho definido?*/
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}

#formulario-contenedor #btn_inicioS:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}
/*Selector para el mensaje de credenciales invalidas al iniciar sesion*/
#formulario-inicio-sesion :last-child{
    opacity: 0;
    transform: translateY(20px);
    animation: entradaDeslizante 0.8s ease-out forwards;
    text-align: center;
}

@keyframes entradaDeslizante{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}