@charset "UTF-8";

/*general settings*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #1d2731;
    background-color: #B5C18E;
	font-family: "Playfair Display", serif;
    margin: 0;
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 1fr 100px auto;
}

header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
	/*background-color: #B5C18E;*/
	background-color: #A5D16C;
	padding: .5rem 1rem;
	display: inline-flex;
	justify-content:space-between;/*Investigar sobre porque funciono con este*/
	align-items: center; /*Centra verticalmente el header*/
	position: sticky; /* Hacer que el header sea sticky */
	top: 0; /* Pegar en la parte superior */
	z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
	max-height: 70px;
}


header nav{
	/* TODO: REVISAR SI SE PUEDE HACER ALGO CON ESTA ETIQUETA */
}

header nav ul{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 3em;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
}

.icono-encabezado{
	max-width: 30px;
	padding: 0;;
	transition: transform 0.3s ease; /* Efecto de transición en el hover */
}

.icono-encabezado:hover{
	transform: scale(1.2);
}
#btn-reservar{
	background-color: #A30350;
	padding: 0.5rem 2rem;
	padding-bottom: .5rem;
	border-radius: 5px;
	margin-bottom: 6px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2); /* Sombra solo en la parte inferior */
	color: aliceblue;
}
#btn-reservar a{
	color: aliceblue;
}
#btn-reservar:hover{
	background-color: #2f3a0d;
}

#logo{
	max-width: 50px;
}

header h1{
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

section {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #F1F1F1;
    padding: 50px;

}
section a {
    font-size: 1.5rem;
	text-decoration: none;
	color: #000;
    background-color: #B5C18E;
	padding: 0.5rem 2rem;
    margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

section a:hover {
    color: #F1F1F1;
    background-color: #1d2731;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#vaciarCarrito{
    color: #1f5847;
    appearance: none;
    margin-right: auto;
    background: #c5f0e4;
    border: 2px solid #1f5847;
    font-size: 1.25rem;
    transition: border-color 0.3s;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    font-family: Georgia;

}

#vaciarCarrito:hover{
    border: 2px solid #9b2e2e;
    color: #7e0f0f;
    background: #d6acac;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: row;
}

form p {
    margin-left: auto;
}

form input {
    appearance: none;
    margin-right: auto;
    border: none;
    background: transparent;
    border-bottom: 2px solid #1E1E1E;
    font-size: 1.25rem;
    transition: border-color 0.3s;
    padding: 5px 10px;
    outline: none;
}

form input.boton {
    appearance: none;
    font-size: 1.5rem;
	text-decoration: none;
	color: #000;
    background-color: #B5C18E;
	padding: 0.5rem 2rem;
    margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}


footer{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
	height: 100%;
	background-color: #C7B7A3;
}
