<html>
    <head>
        <title>Buscar habitaci&oacute;n</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link href="../css/buscar.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    <div class="grid">
        <nav class="nav">
            <input type="button">
        </nav>

        <aside class="aside">
            <img src="" alt="imagen de fondo">
        </aside>

        <section class="section">
            <form>
                <select>
                    <option>11</option>
                    <option>22</option>
                    <option>33</option>
                </select>
                <input type="date">
                <input type="date">
                <input type="number" min="1">

                <input type="submit">
            </form>
        </section>
    </div>
    </body>
</html>