<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/edithabitacion-styles.css" type="text/css">
    <title>Editar habitacion</title>
</head>
<body>
    <header>
        <h1>Hotel ecologico Ek' Balam</h1>
    </header>
    <form id="grid" method="get" enctype="multipart/form-data" >
        <div id="etiquetas">
            <p><b>Categoria (tipo):</b></p>
            <p><b>Habitaciones:</b></p>
            <p><b>Hab. disponibles:</b></p>
            <p><b>Costo: $</b></p>
        </div>
        <div id="entradas">
            <!---<p><input type="text" id="txt_categoria" ></p>-->
                <select name="Categoria" id="txt_categoria" onchange="mostrar(this.value , 'titulo_habitacion')">
                    <option value="" selected disabled hidden></option>
                    <option value="Estandar">Estandar</option>
                    <option value="Deluxe">Deluxe</option>
                    <option value="Suite">Suite</option>
                </select>
            <!--<p><input type="text" id="txt_disponibilidad"></p>-->
            <!--<input type="number" id="txt_disponibilidad" name="Disponibilidad" min="0" max="50" onchange="mostrar(this.value, 'info_disponibilidad')">-->
            <!--<p><input type="text" id="txt_habitaciones" onkeyup="mostrar(this.value,'info_habitaciones')" oninput="soloNumeros(this)"></p>--->
            <input type="number" id="txt_habitaciones" name="Habitaciones" min="0" max="50" oninput="mostrar(this.value, 'info_habitaciones'); mostrar('', 'info_disponibilidad')">
            <input type="number" id="txt_habdisponibles" name="Habitaciones disponibles" min="0" max="50" oninput="mostrar(this.value, 'info_disponibles'); mostrar('', 'info_disponibilidad')">
            <p><input type="text" id="txt_costo" onkeyup="mostrar(this.value,'info_Costo')" oninput="soloNumeros(this)"></p>
        </div>
        <div id="descripcion">
            <p><b>Descripcion:</b></p>
            <textarea id="t_area_descripcion" onkeyup="mostrar(this.value,'info_descripcion')"></textarea>
        </div>
        <div id="btns_vista_prev">
            <p><b>Cambiar imagen:   </b><input type="file" id="btn_cambiarimg" accept="image/*" onchange="PrevisualizarImagen(event)"></p>
            <button  class="btn" id="btn_vistprev" >
                Vista previa
            </button>
            <!--<button id="btn_cambiarimg">
                cambiar imagen
            </button> -->
            
        </div>
        <div id="imagen">
            <img id="imagen-prev" src="../assets/img/home/deluxe.jpg" alt="Previsualización de la Imagen">
        </div>
        <div id="vista_previa">
            <h2 id="titulo_habitacion">...</h2>
            
            <p id="info_descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloremque eum cum? Eligendi id vitae dicta perferendis magnam dignissimos voluptatum. Ducimus, in labore. Amet magnam, ducimus necessitatibus facilis explicabo iusto.</p>
            <p id="info_disponibilidad"><b>Disponibilidad:</b></p>
            <p id="info_habitaciones"><b>Habitaciones:</b></p>
            <p id="info_disponibles"><b>Habitaciones disponibles:</b></p>
            <p id="info_Costo"><b>Costo:</b></p>
        </div>
        <div  id="btns_verificacion">
            <button class="btn" id="btn_guardar">
                Guardar
            </button>
            <button class="btn" id="btn_cancelar">
                Cancelar
            </button>
        </div>
    </form>
    <footer>
        <p>@todos los derechos reservados</p>
    </footer>
    <script src="../scripts/edithabitacion.js"></script>
</body>
</html>