<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="C:/Users/Dell/Documents/Quinto semestre/Desarrollo de aplicaciones web/Proyecto final/Hotel-Web/src/client/css/infoHabitacion.css">
        <title>Informaci&oacute;n de la habitaci&oacute;n </title>
    </head>

    <body>
        <table>
            <tr>
                <td id="imgsection">
                    <img src="C:\Users\Dell\Documents\Quinto semestre\Desarrollo de aplicaciones web\Proyecto final\Hotel-Web\src\client\assets\img\infohab\ImagenHabitacion.jpg" alt="Imagen de la habitaci&oacute;n">
                </td>
                <td id="infosection">
                    <h1>Econ&oacute;mico</h1>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y 
                     archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
                     industrias desde el año 1500, cuando un impresor (N. del T. persona que 
                     se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                      de tal manera que logró hacer un libro de textos especimen. 
                    </p>
                    <h5>
                        Tipo: <br>
                        Habitaciones: <br>
                        Baños: <br>
                        Costo: <br>
                    </h5>
                    
                    
                </td>
            </tr>
        </table>
        <button>
            <img src="C:\Users\Dell\Documents\Quinto semestre\Desarrollo de aplicaciones web\Proyecto final\Hotel-Web\src\client\assets\img\infohab\cerrarInformacion.png" alt="">
        </button>
    </body>

</html>