<html>
    <head>
        <title>Pagar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link href="../css/pagar.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    <div class="grid">
        <nav class="nav">
            <input type="button">
        </nav>

        <section class="section">
            <form>
                <input type="text">
                <input type="text">
                <input type="month">
                <input type="text">
            </form>
        </section>
    </div>
    </body>
</html>