<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="stylesheet" href="../css/confirmacion.css" type="text/css">
</head>
<body>
    <div id=grid>
        <div id="Confirm-mensaje">
            <h1>Estas seguro que quieres realizar esta acci&oacute;n?</h1>
        </div>
        <div id="Botones">
            <button class="Aceptar">Aceptar</button>
            <button class="Cancelar">Cancelar</button>
        </div>
    </div>
</body>
</html>