<html>
    <head>
        <title>Pagar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link href="../css/pagar.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    <div class="grid">
        <nav>
            <a href="reservar.html">regresar</a>
        </nav>

        <section>
            <h2>Pago de reservaci&oacute;n</h2>
            <h3>
                <label>Tipo de habitación:<br></label>
                <label></label>Dias:<br></label>
                <label></label>Personas:<br></label>
            </h3>
            <form>
                <label>
                    <p>Titular</p><input type="text" >
                </label>
                <label>
                    <p>Numero de tarjeta:</p><input type="number" maxlength="22">
                </label>
                <label>
                    <p>Mes de vencimiento:</p><input type="month">
                </label>
                <label>
                    <p>CVV</p><input type="number" min="000" maxlength="3" max="999">
                </label>
            </form>

            <a href="home.html" class="boton">Pagar</a>
        </section>

        <footer>
            <p>&copy; Derechos reservados a un tal fulano</p>
        </footer>
    </div>
    </body>
</html>